# Ignore npm-debug.log.
*.log

# Modules downloaded by npm.
node_modules/

# Built JS and CSS files.
build/
!app/vendor-js/yui2/build

app/config/user.json
app/assets

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# testing
/coverage
